body {
  background-image: url("/src/assets/im2.jpg");
  background-size: cover;
  background-position: center;
}

.overlay-text {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #ffffff;
  border-radius: 10px;
}

h1 {
  text-align: center;
}
