<!--


<div class="parent">
  <div class="container">
      <div class="login-box">
          <h2>Seller-Login</h2>
          <form [formGroup]="formgroup" (ngSubmit)="onLogin(formgroup.value)">
              <div class="user-box">
              <input type="password" formControlName="password" name="EmailId" required="">
              <label for="EmailId">Password</label>
              </div>
              <div class="user-box">
                  <input type="email" formControlName="email" name="EmailId" required="">
                  <label>Email</label>
              </div>

           <button type="submit" >
            Submit
           </button>



          </form>

      </div>
  </div>
</div> -->
